// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window#bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > box {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
    min-height: 0;
    padding: 4px 8px;
  }

  label {
    background-color: transparent;
  }

  .active {
    color: red;
  }

  .ws-button {
    padding: 0px 2px;
    min-width: 30px;
    min-height: 30px;
    -gtk-icon-size: 24px;

    &.vert {
      padding: 2px 0px;
    }

    .unfocused {
      filter: brightness(150%) saturate(0%);
    }

    &.special {
      background: oklab(from var(--success-bg-color) l a b / 0.25);

      &.active {
        background: var(--success-bg-color);
      }
    }
  }
}