// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window {
  border-radius: var(--window-radius);
  background: oklab(from var(--window-bg-color) l a b / 0.75);
  
  #bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    > box {
      background: $bg-color;
      border-radius: 10px;
      margin: 8px;
    }

    button {
      border-radius: 8px;
      margin: 2px;
      min-height: 0;
      padding: 4px 8px;
    }

    label {
      background-color: transparent;
    }

    .active {
      color: red;
    }

    .ws-button {
      padding: 0px 2px;
      min-width: 30px;
      min-height: 30px;
      -gtk-icon-size: 24px;

      &.vert {
        padding: 2px 0px;
      }

      .unfocused {
        filter: brightness(150%) saturate(0%);
      }

      &.special {
        background: oklab(from var(--success-bg-color) l a b / 0.25);

        &.active {
          background: var(--success-bg-color);
        }
      }
    }
  }

  .osd-popup {
    background: transparent;
  }

  .quicksettings {
    .quicksettings-body {
      padding: 8px;
    }

    .media {
      border-radius: var(--window-radius);
      background: var(--window-bg-color);
      padding: 4px;
    }

    .battery {
      border-radius: var(--window-radius);
      background: var(--window-bg-color);
      padding: 4px;
    }

    .audio-config {
      button {
        padding: 0px;
        border-radius: var(--window-radius);
      }
    }

    .notif-list {
      .notif-expander {
        border-radius: var(--window-radius);
        border: 1px solid var(--border-color);
        padding: 2px;

        &:hover {
          color: var(--view-bg-color);
          background: var(--view-bg-color);
        }

        expander {
          -gtk-icon-source: none;
          -gtk-icon-size: 0px;
          min-width: 0px;
        }
      }
    }
  }

  .applauncher {
    .applauncher-body {
      padding: 8px;

      .app-button {
        padding: 4px;
      }
    }
  }

  .notif-popup {
    background-color: transparent;
  }

  .notification {
    background: var(--window-bg-color);
    color: var(--window-fg-color);
    border-radius: 12px;
    padding: 4px;
    border: 1px solid var(--border-color);
  }

  .slider {
    min-width: 120px;
    padding: 8px;
    border-radius: 12px;
    color: var(--window-fg-color);
    background: oklab(from var(--window-bg-color) l a b / 0.4);

    image {
      -gtk-icon-size: 1.5em;
    }
  }

  .bar {
    border-radius: var(--window-radius) var(--window-radius) 0 0;

    .bar-centerbox {
      padding: 2px;
    }

    * {
      margin: 0px;
      padding: 0px;
    }

    &.vert {
      border-radius: 0 var(--window-radius) var(--window-radius) 0;
    }

    .launcher {
      padding: 0px;
      min-width: 30px;
      min-height: 30px;

      image {
        -gtk-icon-size: 24px;
      }
    }

    .clock {
      //   padding: 0px 4px;

      //   &.vert {
      //     padding: 4px 0px;
      //   }

      .date {
        font-size: 0.5em;
      }

      .time {
        font-size: 1.75em;
      }
    }

    .sys-indicators {
      padding: 0px 8px;

      &.vert {
        padding: 4px 0px;
      }

      image {
        -gtk-icon-size: 18px;
      }
    }

    .sys-usage {
      padding: 4px;

      label {
        margin: 0;
        font-size: 0.6em;
      }
    }

    .ws-button {
      padding: 0px 2px;
      min-width: 30px;
      min-height: 30px;
      -gtk-icon-size: 24px;

      &.vert {
        padding: 2px 0px;
      }

      .unfocused {
        filter: brightness(150%) saturate(0%);
      }

      &.special {
        background: oklab(from var(--success-bg-color) l a b / 0.25);

        &.active {
          background: var(--success-bg-color);
        }
      }
    }
  }
}
